*{
    margin: 0;
    padding: 0;
}

body{
background-color: rgb(0,0, 33);
color: white;
font-family: 'poppins' , sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 95px;
    width: 100%;
    background-color:teal;
    }


nav.sticky {
    background: var(--bg-color);
    border-bottom: 1px solid var(--secon-bg-color);
    padding: 12px 10%;
}

nav ul{
display: flex;
justify-content: center;
}

nav ul li{
list-style: none;
margin: 0 23px;
}

nav ul li a{
text-decoration: none;
color: white;
}

nav ul li a:hover{
color: aquamarine;
}

main hr{
    border: 0;
    background: #9c97f1;
    height: 2px;
    margin: 40px 84px;
}

.firstsection {
    padding-top: 100px;
    padding-bottom: 40px;
}



.firstsection{
display: flex;
justify-content: space-around;
align-items: center;
margin: 103px 0;
}

.firstsection > div{
width: 45%;
}

.Home{
font-size: 2.7rem;
margin: 30px 0;
}

.Home .btn{
    padding: 5px;
    font-size: 20px;
   color: aqua;
}

.rightsection img{
width: 80%;
}

.purple{
color: #03fc54;

}

.secondsection{
    max-width: 80%;
    margin: auto;
    height: 80vh;
}

.secondsection h1{
  font-size: 2rem;
}

.secondsection p {
    color: #03fc54;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: .5px;
    margin-bottom: 3rem;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
    background: var(--secon-bg-color);
    padding-top: 50px;
    padding-bottom: 70px;
}

.about .img-about {
    text-align: center;
    position: relative;
    padding-right: 100px;
}

.about .img-about img {
    max-width: 400px;
    height: auto;
    border-radius: 90%;
    background: var(--hover-color);
}

.about-content span {
    color: white;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-content h2 {
    color: #03fc54;
    font-weight: 700;
    font-size: 30px;
}

.about-content p {
    color: white;
    font-weight: 300;
    letter-spacing: .5px;
    margin-bottom: 2rem;
}

.info-about1,
.info-about2 {
    
    font-size: 1rem;
    position: absolute;
   
}

.info-about1 {
    left: 0.1px;
    top: 5%;
}

.info-about2 {
    left: 60%;
    top: 65%;
}

.fa {
    padding: 25px;
    margin: 5px;
    color: #03fc54;
    background-color: #4b5654;
    font-size: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    
  }
  

  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #55ACEE;
    color: white;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 17px;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
    border-radius: inherit;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .services {
    padding-top: 150px;
    padding-bottom: 50px;
}

.main-text {
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
    color: var(--hover-color);
}

.main-text h2 {
    color: #03fc54;
    font-weight: 700;
    font-size: 2rem;
}

.main-text span {
    color: #fdfdfd;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
}

.project {
    padding-top: 150px;
    padding-bottom: 130px;
}


.section-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
    padding: top 50px; 
    padding-bottom: 50px;
}

.section-services .service-box {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    border-radius: 10px;
    transition: transform .4s;
}

.service-btn  {
    width: auto;
    justify-content: center;
}

.service-box:hover {
    transform: translateY(-.7rem);
}

.service-icon {
    border: 2px solid var(--hover-color);
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    font-size: 2rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}
 

.service-box h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.service-box p {
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
    font-weight: 300;
    margin: 1rem 0 2rem 0;
}



.port-content a {
    background: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
}

.port-content a i {
    font-size: 1.3rem;
    color: var(--secon-bg-color);
}

.portfolio-gallary {
    display: grid;
    grid-template-columns: repeat(3, minmax(270px, 1fr));
    gap: 2rem;
}

.port-box {
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    grid-template-rows: 1px auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    background: #292e33;
    box-shadow: var(--neon-box-shadow);
    position: relative;
}

.port-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.port-image img {
    width: 100%;
    height: 100%;
    opacity: .5s;
    transition: .5s;
}

.port-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .2), #2ee16d);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    transition: .5s;
    opacity: 0;
}

.port-box:hover .port-content {
    opacity: 1;
}

.port-box:hover .port-image img {
    transform: scale(1.1);
}

.port-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.port-content p {
    font-size: 1rem;
    margin: 5px 0 15px 0;
}

.port-content a {
    background: #fff;
    display: inline-flex;
    justify-content: center;
    color: darkblue;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
}

.port-content a i {
    font-size: 1.3rem;
    color: var(--secon-bg-color);
}


.filter-buttons {
    margin: 2rem;
    text-align: center;
}

.filter-buttons .button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: .4px;
    margin-left: 1.3rem;
}

.filter-buttons .button:hover {
    color: var(--hover-color);
}

.contact {
    padding-top: 150px;
    padding-bottom: 50px;
}

.contact {
    background: var(--secon-bg-color);
    width: 100%;
}

.contact form {
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 3rem;
    max-width: 50rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: var(--text-color);
    background:black;
    border: none;
    border-radius: 5px;
    margin-bottom: .8rem;
    padding: .7rem;
}

.contact form textarea {
    resize: none;
}

.formbtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formbtn .btn {
    cursor: pointer;
    background-color: #03fc54;
    font-size: 1.2rem;
}


#msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
}

footer p {
    color: #bdbdbd;
}

footer a {
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    /* padding: .6rem; */
    border-radius: 5px;
}

footer a i {
    font-size: 1rem;
    color: var(--secon-bg-color);
}



.skills {
    background: var(--secon-bg-color);
}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar {
    margin-bottom: 2.3rem;
}

.skill-main h3 {
    margin-bottom: 2rem;
    font-size: var(--norma-font);
    text-align: center;
}

 .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

 .skill-bar .bar {
    width: 100%;
    height: 10px;
    background: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    left: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .html {
    width: 80%;
    animation: html 1.5s;
}

.skill-bar .bar .css {
    width: 73%;
    animation: css 2s;
}

.skill-bar .bar .javascript {
    width: 58%;
    animation: javascript 2.5s;
}

.skill-bar .bar .cpp {
    width: 82%;
    animation: cpp 3.5s;
}

.skill-bar .bar .c {
    width: 88%;
    animation: c 4.5s;
}

.skill-bar .bar .dsa {
    width: 75%;
    animation: dsa 5.5s;
}


:root {
    --text-color: #f5f5f5;
    --hover-color: aquamarine;
    --bg-color: #250821;
    
    --big-font: 2.5rem;
    --norma-font: 2rem;
    --neon-box-shadow: 0 0 .5rem #2ee16d;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 255, 117, 0.6),
        0 0 20px rgba(18, 255, 117, 0.6),
        0 0 30px rgba(18, 255, 117, 0.6),
        0 0 40px rgba(18, 255, 117, 0.6),
        0 0 80px rgba(18, 255, 117, 0.6),
        0 0 100px rgba(18, 255, 117, 0.6),
        0 0 150px rgba(18, 255, 117, 0.6);
}

